body {
  font-family: cursive;
  color: rebeccapurple;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

input {
  padding: 10px;
  width: 50%;
  margin: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
  background-color: aliceblue;
}

.member,
.result-card {
  background: powderblue;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  text-align: left;
}
